{

  "parserOptions": {
    "sourceType": "module",
    "parser": "babel-eslint",
    "allowImportExportEverywhere": true,
    "ecmaVersion": 2015
    
  },
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  
  ],
  // eslint 규칙 추가
  "rules": { "react/prop-types": "off"  }
}